.window-loader-screen {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  background: #000;
}

.c-loader {
  width: 64px;
}

.c-loader__svg {
  display: block;
  width: 100%;
  height: auto;
}

.c-loader__svg path {
  fill: #fff;
}
