.overlay {
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url(https://becky.dev/assets/images/whitenoise-e05ce92bb85e9688f3fd742c6e4eb6bf.png);
  background-position: 0 0;
  animation-name: static;
  animation-duration: 0.09s;
  animation-iteration-count: infinite;
  opacity: 0.13;
  pointer-events: none;
  z-index: 5;
}
